.env
.env.*
!.env.example
/.venv
/.idea
/.pytest_cache
/.mypy_cache
/.ruff_cache
__pycache__/
*.pyc
*.pyo
*.pyd
/.coverage
/coverage.xml
/htmlcov/
/errors/
/src/mlruns/
/mlruns/
*.log
Thumbs.db
.DS_Store
